sqlparse==0.2.4
django==4.1
pytz
pillow
psycopg2-binary
djangorestframework
imutils
torch
opencv-python
requests
python-socketio
torchvision
eventlet==0.25.2
python-engineio
gunicorn
imutils
dnspython==2.2.1
python-socketio[client]