{% extends '../base.html' %}
{% load static %}
{% load url_tags %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient">
          <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </span>
        Overview
      </h3>
    </div>
    <div class="row">
      <!-- Content here -->
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registered Employees</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Picture</th>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Time Stamp</th>
                    <th>Similarity Index</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through the employees data here -->
                  {% for p in knowns %}
                  <tr>
                    <td>
                    
                          
                          <img src="/media/attend_img/{{p.img_url}}" alt="{{p.img_url}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 0;">
                      
                    <td>{{ p.id }}</td>
                    <td>{{ p.person.full_name }}</td>
                    <td>{{ p.person.department_name}}</td>
                    <td>
                      Present
                    </td>
                    <td>{{ p.time_sent }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Include the pagination template and pass the page_obj -->
            {% include 'pagination.html' with page_obj=knowns %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Visitors</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Picture</th>
                    <th>ID</th>
                    <th>Visitor Name</th>
                    <th>Camera ID</th>
                    <th>Time Stamp</th>
                    <th>Similarity Index</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through the visitors data here -->
                  {% for visitor in unknowns %}
                  <tr>
                    <td>
                      <img src="/media/attend_img/{{visitor.img_url}}" alt="{{visitor.img_url}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 0;">

                    </td>
                    <td>{{ visitor.id }}</td>
                    <td>{{ visitor.person.full_name }}</td>
                    <td>{{ visitor.person.department_name }}</td>
                    
                    <td>{{ visitor.time_sent }}</td>
                    <td>index</td>
                    <td>
                      <div class="button-container">
                        <a class="btn btn-gradient-primary btn-sm" href="{% url 'New_Employee_Registration' visitor.id %}">New Register</a>
                        <a class="btn btn-gradient-primary btn-sm" href="{% url 'template_gallery' visitor.id %}">Move Record</a>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
             <!-- Include the pagination template and pass the page_obj -->
             {% include 'pagination.html' with page_obj=unknowns %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 grid-margin stretch-card">
        <a href="{% url 'delete_all_unknows' %}?camera_id={{ 'P&D'|urlencode }}" class="btn btn-gradient-primary" onclick="return confirmDelete();">Delete All unknowns</a>

<script>
function confirmDelete() {
    return confirm("Are you sure you want to delete all unknowns?");
}
</script>


            
      </div>
      
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
{% endblock %}
