{% extends '../base.html' %}
{% load static %}
{% load url_tags %}
<style>
  .button-container {
      display: flex;
      flex-wrap: wrap;
      gap: 5px; /* Adjust spacing between buttons */
  }

  .button-container a,
  .button-container form {
      margin: 0;
  }

  .button-container button {
      margin: 0;
      padding: 5px 10px; /* Adjust padding for buttons */
      font-size: 12px; /* Adjust font size */
  }

  table {
      width: 100%;
      table-layout: fixed; /* Prevent table from expanding too much */
  }

  table td, table th {
      padding: 5px; /* Adjust padding */
      margin: 0;
  }
</style>
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
            <div class="row">
              
              <div class="row">
                <div class="col-12 ">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registered Employees</h4>
                      <div class="table-responsive">
                        <table class="table" style="table-layout: fixed; width: 100%;">
                          <thead>
                            <tr>
                              <th style="width: 20%;"> Picture </th>
                              <th style="width: 10%;"> ID </th>
                              <th style="width: 20%;"> Employee Name </th>
                              <th style="width: 30%;"> Department </th>
                          
                              <th style="width: 20%;"> Actions </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for p in pr %}
                             <tr>
                              <td>
                                {% get_face_image_url p as img_url %}
                                {% if img_url %}
                                <img src="/media/camera_img/{{img_url}}" alt="{{img_url}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 0;">
                                {% endif %}
                              </td>
                              <!-- <td><img src="{% static '1.jpg' %}" alt="Employee Picture" width="220" height="220"></td> -->
                              <td>{{ p.id }}</td>
                              <td>{{ p.full_name }}</td>
                              <td>{{ p.department_name }}</td>
                              
                              <td>
                                <div class="button-container">
                                    <a class="btn btn-gradient-primary btn-sm" href="{% url 'employee_detail' p.id %}">Details</a>
                                    <a class="btn btn-gradient-primary btn-sm" href="{% url 'template_gallery' p.id %}">Template Gallery</a>
                                    <a class="btn btn-gradient-primary btn-sm" href="{% url 'edit_profile' p.id %}">Edit Profile</a>
                                    <form action="{% url 'delete_profile' p.id %}" method="post" style="display:inline;" onsubmit="confirmDelete(event)">
                                        {% csrf_token %}
                                        <button type="submit"  class="btn btn-outline-danger">Delete Profile</button>
                                    </form>
                                </div>
                            </td>
                              </tr>
                              {% endfor %}
                          
                          </tbody>
                        </table>
                      </div>
                      <!-- Include the pagination template and pass the page_obj -->
                      {% include 'pagination.html' with page_obj=pr %}
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      
      <script>
        function confirmDelete(event) {
          if (!confirm("Are you sure you want to delete this profile? This action cannot be undone.")) {
            event.preventDefault(); // Prevent form submission if not confirmed
          }
        }
      </script>
      <!-- page-body-wrapper ends -->
    {%endblock%}


